@charset "UTF-8";
/*按钮*/
/*图标*/
/*产品列表项*/
.cart-list .cart-item .product-img {
  margin-right: 0.625rem; }
  .cart-list .cart-item .product-img .img {
    width: 6.25rem;
    height: 6.25rem; }

.cart-list .cart-item .product-info {
  flex: 1; }
  .cart-list .cart-item .product-info .category-name {
    color: #999;
    font-size: 0.75rem; }
  .cart-list .cart-item .product-info .product-name {
    font-size: 1rem;
    color: #333; }
  .cart-list .cart-item .product-info .product-argument {
    font-size: 0.75rem;
    color: #999;
    margin-bottom: 0.625rem; }
  .cart-list .cart-item .product-info .product-price {
    color: #666; }
    .cart-list .cart-item .product-info .product-price .price {
      font-size: 0.875rem; }
    .cart-list .cart-item .product-info .product-price .num {
      float: right; }

.cart-list .cart-item .cart-price-operate {
  display: flex; }
  .cart-list .cart-item .cart-price-operate button {
    border: none;
    border-radius: 0;
    min-width: 3rem;
    min-height: 1.75rem; }
  .cart-list .cart-item .cart-price-operate .btn-plus {
    background: url("../images/icon/icon_plus@2x.png") no-repeat;
    background-size: 100%; }
  .cart-list .cart-item .cart-price-operate .btn-reduce {
    background: url("../images/icon/icon_reduce@2x.png") no-repeat;
    background-size: 100%;
    margin-right: -1px; }
  .cart-list .cart-item .cart-price-operate input[type=text] {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 3rem;
    height: 1.75rem;
    text-align: center; }

.page-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 102;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-loader .loader {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.1875rem dashed #fff;
    -webkit-animation: stars-rotate-reverse 2s linear both infinite;
    animation: stars-rotate-reverse 2s linear both infinite; }
  .page-loader .loader .diamond {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-color: transparent transparent #fff transparent;
    z-index: 103; }
  .page-loader .loader .diamond:after {
    border-color: #ddd transparent transparent transparent; }
  .page-loader .diamond {
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 100px;
    position: relative;
    margin: 20px 0 50px 0; }
  .page-loader .diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 70px 50px 0 50px; }

@-webkit-keyframes stars-rotate-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes stars-rotate-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*购物车*/
.cart-list .item-content {
  padding: 0.9375rem !important; }
.cart-list .cart-item {
  display: flex;
  align-items: center; }

.item-select-status, .item-selected {
  width: 0.9375rem;
  height: 0.9375rem;
  background: url("../images/icon/icon_unselect@2x.png") no-repeat;
  background-size: 100%;
  margin-right: 1.625rem; }
  .item-select-status input[type=checkbox], .item-selected input[type=checkbox] {
    opacity: 0;
    transform: scale(3.5); }

.item-selected {
  background: url("../images/icon/icon_selected@2x.png") no-repeat;
  background-size: 100%; }

.operate-bar {
  height: 3.125rem;
  bottom: 3rem;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem; }
  .operate-bar .select-all {
    flex: 1;
    display: flex;
    align-items: center; }
    .operate-bar .select-all input[type=checkbox] {
      opacity: 0; }
    .operate-bar .select-all .item-select-status, .operate-bar .select-all .item-selected {
      margin-right: 0.3125rem; }
  .operate-bar .totalPirce p {
    margin-bottom: 0; }
  .operate-bar .totalPirce .total {
    font-size: 1.0625rem; }
  .operate-bar .totalPirce .coupon {
    font-size: 0.75rem;
    color: #999;
    text-align: right; }
  .operate-bar .btn-account, .operate-bar .btn-delete {
    width: 6.25rem;
    text-align: center;
    border: none;
    background: #333;
    color: #fff;
    height: 3.125rem;
    margin-left: 0.9375rem;
    font-size: 1.0625rem;
    padding: 0;
    border-radius: 0; }

/*# sourceMappingURL=cart.css.map */
