@charset "UTF-8";
/*按钮*/
/*图标*/
/*产品列表项*/
.product-property-select-container .property-container .buy-num .num-operate {
  display: flex; }
  .product-property-select-container .property-container .buy-num .num-operate button {
    border: none;
    border-radius: 0;
    min-width: 3rem;
    min-height: 1.75rem; }
  .product-property-select-container .property-container .buy-num .num-operate .btn-plus {
    background: url("../images/icon/icon_plus@2x.png") no-repeat;
    background-size: 100%; }
  .product-property-select-container .property-container .buy-num .num-operate .btn-reduce {
    background: url("../images/icon/icon_reduce@2x.png") no-repeat;
    background-size: 100%;
    margin-right: -1px; }
  .product-property-select-container .property-container .buy-num .num-operate input[type=text] {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 3rem;
    height: 1.75rem;
    text-align: center; }

.page-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 102;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-loader .loader {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.1875rem dashed #fff;
    -webkit-animation: stars-rotate-reverse 2s linear both infinite;
    animation: stars-rotate-reverse 2s linear both infinite; }
  .page-loader .loader .diamond {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-color: transparent transparent #fff transparent;
    z-index: 103; }
  .page-loader .loader .diamond:after {
    border-color: #ddd transparent transparent transparent; }
  .page-loader .diamond {
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 100px;
    position: relative;
    margin: 20px 0 50px 0; }
  .page-loader .diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 70px 50px 0 50px; }

@-webkit-keyframes stars-rotate-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes stars-rotate-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*分类菜单*/
.sort-nav {
  padding: 0;
  position: relative;
  z-index: 999999; }
  .sort-nav .nav-item {
    width: 25%;
    text-align: center;
    color: #999;
    height: 2.75rem;
    line-height: 2.75rem; }
    .sort-nav .nav-item.active {
      color: #333; }
    .sort-nav .nav-item.price-sort {
      position: relative; }
      .sort-nav .nav-item.price-sort:after {
        position: absolute;
        content: '';
        top: 45%;
        right: 8%;
        display: block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #999;
        transition: all .5s ease 0s; }
  .sort-nav .sort-sub-nav {
    width: 100%;
    position: absolute;
    left: 0;
    transform: translateY(-8.25rem);
    transition: all .5s ease 0s;
    z-index: 3;
    opacity: 1;
    box-shadow: 0 1px 3px -1px rgba(41, 70, 97, 0.2); }
    .sort-nav .sort-sub-nav.open {
      opacity: 1;
      transform: translateY(44px); }
    .sort-nav .sort-sub-nav a {
      padding: 0.9375rem;
      background: #fff;
      border-bottom: 1px solid #ececec;
      display: flex;
      align-items: center; }
      .sort-nav .sort-sub-nav a.active span {
        color: #333 !important; }
      .sort-nav .sort-sub-nav a.active .selected {
        display: block; }
      .sort-nav .sort-sub-nav a .selected {
        display: none;
        width: 0.75rem;
        height: 0.75rem;
        background: url("../images/icon/icon_sub_nav_selected@2x.png") no-repeat;
        background-size: 100%; }
      .sort-nav .sort-sub-nav a span {
        color: #999;
        flex: 1; }

/*产品详情分类菜单*/
.product-details-nav {
  padding: 0;
  display: flex;
  align-items: center; }
  .product-details-nav .nav-item {
    flex: 1;
    text-align: center;
    color: #999; }
    .product-details-nav .nav-item.active {
      color: #333;
      font-size: 1rem; }

/*产品图片幻灯图*/
.product-img-slide .slide-item .img {
  display: block;
  width: 100%;
  height: auto; }

/*产品简介*/
.product-desc-container .product-name {
  font-size: 1.0625rem;
  color: #333;
  margin-bottom: 0.5rem; }
.product-desc-container .product-price {
  display: flex;
  align-items: center;
  color: #666; }
  .product-desc-container .product-price .price {
    flex: 1; }
  .product-desc-container .product-price .intergral {
    font-size: 0.875rem; }
.product-desc-container .select-product-size {
  margin: 0.3125rem 0; }

/*产品属性选择面板*/
.product-property-select-container {
  position: fixed;
  opacity: 1;
  bottom: -1000px;
  left: 0;
  background: #fff;
  width: 100%;
  transition: all .5s ease 0s;
  z-index: 100;
  height: auto; }
  .product-property-select-container.show {
    transform: translateY(-1000px);
    opacity: 1; }
  .product-property-select-container .icon-close {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 0.625rem;
    right: 0.75rem;
    background: url("../images/icon/icon_close_panel@2x.png") no-repeat;
    background-size: 100%;
    z-index: 101; }
  .product-property-select-container .property-name {
    font-size: 1.0625rem;
    color: #333; }
  .product-property-select-container .property-img {
    text-align: center;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .product-property-select-container .property-img .sku-img-loading {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7); }
    .product-property-select-container .property-img .img {
      width: 70%;
      height: auto; }
  .product-property-select-container .property-container {
    height: 250px; }
    .product-property-select-container .property-container .property-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
      .product-property-select-container .property-container .property-list .btn-normal {
        margin-right: 0.3125rem;
        color: #666;
        margin-top: 0.625rem; }
        .product-property-select-container .property-container .property-list .btn-normal.selected {
          background: #333 !important;
          color: #fff; }
        .product-property-select-container .property-container .property-list .btn-normal.disabled {
          opacity: .3; }
      .product-property-select-container .property-container .property-list .color-btn {
        width: 1.625rem;
        height: 1.625rem;
        border: none;
        border-radius: 100%;
        margin-right: 0.3125rem;
        margin-top: 0.625rem; }
        .product-property-select-container .property-container .property-list .color-btn.selected {
          border: 2px solid #000; }
        .product-property-select-container .property-container .property-list .color-btn.disabled {
          opacity: .3; }
      .product-property-select-container .property-container .property-list .color-bg-yellow {
        background: url("../images/icon/select_yellow@2x.png") no-repeat;
        background-size: 100%; }
      .product-property-select-container .property-container .property-list .color-bg-pink {
        background: url("../images/icon/select_pink@2x.png") no-repeat;
        background-size: 100%; }
      .product-property-select-container .property-container .property-list .color-bg-black {
        background: url("../images/icon/select_black@2x.png") no-repeat;
        background-size: 100%; }
      .product-property-select-container .property-container .property-list .color-bg-white {
        background: url("../images/icon/select_white@2x.png") no-repeat;
        background-size: 100%; }
    .product-property-select-container .property-container .buy-num {
      display: flex;
      align-items: center; }
      .product-property-select-container .property-container .buy-num .title {
        flex: 1; }

.bottom-operate-bar {
  padding: 0;
  display: flex; }
  .bottom-operate-bar .order-confirm-total {
    flex: 3;
    line-height: 44px;
    text-align: center;
    font-size: 1.0625rem;
    background: #fff; }
    .bottom-operate-bar .order-confirm-total .intergral {
      color: #999;
      font-size: 0.75rem; }
  .bottom-operate-bar .btn-normal-full {
    width: 40%;
    flex: 1; }
  .bottom-operate-bar .btn-add-cart {
    background: #666; }
  .bottom-operate-bar .btn-cart {
    width: 25%;
    text-align: center;
    background: #fff; }
    .bottom-operate-bar .btn-cart .icon-cart {
      display: inline-block;
      width: 1.375rem;
      height: 1.375rem;
      background: url("../images/icon/icon_tabs_cart_on@2x.png") no-repeat;
      background-size: 100%;
      position: relative; }
      .bottom-operate-bar .btn-cart .icon-cart .product-num {
        display: block;
        position: absolute;
        top: 0;
        right: -0.625rem;
        border-radius: 100%;
        background: #000;
        color: #fff;
        width: 0.9375rem;
        height: 0.9375rem;
        line-height: 0.9375rem;
        text-align: center;
        font-size: 0.5rem; }
    .bottom-operate-bar .btn-cart p {
      font-size: 0.625rem; }

/*用户评价*/
.total-comment-header {
  border-bottom: 1px solid #ececec; }
  .total-comment-header .title {
    font-size: 0.875rem;
    color: #999; }
  .total-comment-header .total-comment {
    display: flex;
    align-items: center; }
    .total-comment-header .total-comment .point {
      font-size: 1.875rem;
      color: #333;
      flex: 1; }
    .total-comment-header .total-comment .start {
      flex: 2; }
    .total-comment-header .total-comment .good-level {
      font-size: 1.0625rem;
      color: #333; }

.comment-list .item-bar-container {
  border-bottom: 1px solid #ececec; }
.comment-list .header {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem; }
  .comment-list .header .star-level li {
    font-size: 0.875rem; }
  .comment-list .header .user-name, .comment-list .header .time {
    font-size: 0.75rem;
    color: #999;
    flex: 1; }
  .comment-list .header .star-level {
    flex: 2; }
  .comment-list .header .time {
    flex: 2;
    text-align: right; }
.comment-list .comment-content {
  font-size: 1.0625rem;
  margin-bottom: 1.25rem; }
.comment-list .buy-category {
  font-size: 0.75rem;
  color: #999; }

/*提交订单*/
.order-confirm {
  display: block; }
  .order-confirm .address-confirm {
    background: #fff; }
    .order-confirm .address-confirm .contact {
      margin-bottom: 0.625rem; }
      .order-confirm .address-confirm .contact .phone {
        flex: 2; }
  .order-confirm .sales-activity {
    margin-bottom: 0.625rem; }
    .order-confirm .sales-activity p {
      color: #333 !important; }
    .order-confirm .sales-activity .activity-desc {
      flex: 2; }
  .order-confirm .pay-type {
    margin-bottom: 0.625rem; }

/*# sourceMappingURL=product.css.map */
